.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  /* display: fixed; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
  
}

.base {
  position: relative;
}
